@import "./button.css";
.edit-pannel {
    border: 1px solid #aaa;
    /* border-left: 1px solid #767676; */
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    min-width: 400px;
    /* width: 100%; */
    /* max-width: 1200px; */
    /* height: 100%; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
.edit-pannel > {
    justify-content: center;
}

.edit-area {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

.edit-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.edit-row {
    border-left: 1px solid #ccc;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.edit-row > * {
    margin: 2px;
    flex-grow: 1;
}
